body {
    padding-top: 5rem;
}

.row-m-t {
    margin-top: 10px
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

td.unknown {
    vertical-align: middle;
    text-align: center;
    font-size: 11px;
    border: 1px solid #FFFFFF;
    height: 32px;
    width: 32px;
    background-color: #C2C2C2;
}

td.obstacle {
    vertical-align: middle;
    text-align: center;
    font-size: 11px;
    border: 1px solid #FFFFFF;
    height: 32px;
    width: 32px;
    background-color: #F44336;
}

td.empty {
    vertical-align: middle;
    text-align: center;
    font-size: 11px;
    border: 1px solid #FFFFFF;
    height: 32px;
    width: 32px;
    background-color: #8BC34A;
}

td.conflict {
    vertical-align: middle;
    text-align: center;
    font-size: 11px;
    border: 1px solid #FFFFFF;
    height: 32px;
    width: 32px;
    background-color: #9C27B0;
}

td.marker {
    border: 1px solid #FFFFFF;
    height: 32px;
    width: 32px;
    background-color: #FFFFFF;
    text-align: center;
}

#arena, #robot-fop {
    width: 529px;
    height: 694px;
    table-layout: fixed;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    /* Webkit */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE 10  */
}

#floatingArena {
    width: 529px;
    height: 694px;
    position: absolute;
    top: 43px;
    left: 0;
    opacity: 0.5;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    /* Webkit */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE 10  */
}

#robot-fop {
    visibility: hidden;
}

#lblStatus {
    position: absolute;
    top: 10px;
    left: 35px;
}

#robot {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: #3F51B5;
    border: 1px solid #FFFFFF;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

#waypoint {
    width: 34px;
    height: 34px;
    position: absolute;
    background-color: #FFEB3B;
    border: 1px solid #FFFFFF;
}

#robot-heading {
    display: block;
    border-left: solid 20px transparent;
    border-bottom: solid 40px #FFF;
    border-right: solid 20px transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -20px;
}