body {
    padding-top: 5rem;
  }

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

td.unknown {
    border: 1px solid #FFFFFF;
    height: 32px;
    width: 32px;
    background-color: #C2C2C2;
}

td.obstacle {
    border: 1px solid #FFFFFF;
    height: 32px;
    width: 32px;
    background-color: #F44336;
}

td.empty {
    border: 1px solid #FFFFFF;
    height: 32px;
    width: 32px;
    background-color: #8BC34A;
}

td.robot {
    border: 1px solid #3F51B5;
    height: 32px;
    width: 32px;
    background-color: #3F51B5;
}

#selMode{
    width:300px;   
   }